/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* Базовое состояние */
.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear; /* без задержки */
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear; /* без задержки */
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s; /* задержка 0.03s при исчезновении */
}

.sparks {
  opacity: 0;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .core {
  fill: var(--icon-main);
  transition-delay: 0s;
}

.card__icon-button:active .main-body {
  fill: var(--icon-main);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--icon-main);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--icon-main);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--icon-main);
  transition: fill 0.3s linear 0.06s;
}


@keyframes scale {
    from {
        scale: 1;
    }
    to {
        scale: 1.25;
    }
}

@keyframes sparks {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.like-icon.is-liked {
  transform-origin: center;
  animation: scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}