/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* @supports */

.page {
  max-inline-size: 700px;
  margin: 100px auto;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font: var(--font-main);
  font-variation-settings: 'wght' var(--font-weight-regular);
  background: var(--page-background) no-repeat center / cover;
}

.container {
  inline-size: var(--container-width);
  margin-inline: auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: var(--font-accent), sans-serif;
  background-color: #fff;
  border: 2px solid #000;
  padding-block: clamp(122px, 90%, 130px);
  gap: 20px;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 95px;
  gap: 50px;
}

.card {
  background-color: #fff;
  border: 2px solid #000; 
}

.card__title {
  font-size: inherit;
  font-family: inherit;
  font-variation-settings: 'wght' var(--weight-font-bold);
  padding: 4px 10px;
}

.card__image {
  overflow: hidden;
  border-block: 2px solid #000;
  position: relative;
  aspect-ratio: 1 / 1;
  box-sizing: content-box;
}

.card__image-bg {
  position: absolute;
  inset: 0;
  background: var(--card-image) no-repeat center / cover;
}

.card__image-label {
  position: absolute;
  inset: 25px 25px auto auto;
  z-index: 2;
  font: var(--font-accent), sans-serif;
  opacity: 0.5;
  text-shadow:
  -1px -1px 0 var(--label-shadow-color),
  1px -1px 0 var(--label-shadow-color),
  -1px  1px 0 var(--label-shadow-color),
  1px  1px 0 var(--label-shadow-color);;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--label-shadow-color)) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--label-shadow-color);
    text-shadow: none;
  }
} 

.card__content {
  display: flex;
  flex-direction: column;
  font-size: inherit;
  font-family: inherit;
  padding: 25px;
  gap: 25px;
  line-height: 21px;
}

.button {
  position: relative;
  overflow: hidden;
  background: var(--button-bg);
  color: var(--text-color);
  border: 2px solid #000;
  font: var(--font-accent);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button:hover .button__text {
  color: #fff;}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 #000;
  outline: none;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--button-hover-bg);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  line-height: 90%;
  z-index: 1;
  transition: color 0.5s ease-in-out;
}


.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
}

.card__icon-button {
  display: flex;
  block-size: 38px;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0;
  cursor: pointer;
  transition: border 0.3s ease;
}

.card__icon-button::before {
  content: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color:#000;
}

.card__like-button {
  min-height: 38px;
  min-width: 130px;
}

.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px 20px;
}

.floppy {
  mix-blend-mode: difference;
  inline-size: 21px;
  block-size: 21px;
  color: #fff;
  position: relative;
  z-index: 1;
}

.save-button .button__text {
  color: #000;
}

.save-button:hover .button__text {
  color: #fff;
}

.filter-sepia { filter: sepia(1) hue-rotate(20deg); }
.filter-grayscale { filter: grayscale(80%); }
.filter-blur { filter: blur(12px) contrast(1.2); }
.filter-brightness { filter: brightness(1.5); }
.filter-invert { filter: invert(1); }
.filter-contrast { filter: contrast(200%); }
.filter-hue { filter: hue-rotate(50deg); }
.filter-multi { filter: sepia(0.8) contrast(1.5) hue-rotate(180deg); }

.dialog[open] {
  display: grid;
  font: var(--font-accent), sans-serif;
  gap: 30px;
  padding: 30px;
  max-inline-size: 353px;
  position: fixed;
}

.dialog[open] .floppy {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__title {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog__button {
  block-size: 38px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}



@media (width <= 375px) {
  .header {

  }

  .content {

  }

  .card__title {

  }

  .card__content {

  }

  .card__image-label {

  }

}
